<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cdbtable;AccountKey=gnpFQnr0YYAUICuS8U5uMCbozcPqWNAyqaO4cg3csfZiLYVBADIzLcuuCl5L0C3V7KoxS9Qjmdopxd02qrH3BA==;TableEndpoint=https://cdbtable.table.cosmosdb.azure.com:443/;" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.1" newVersion="8.7.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
