<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=aztable;AccountKey=ODcB7hzVS3LBBzW3bUyMpdM6+v0uGouFCuOMXp/RH/XuOl0fQUtyM47n4wEPoIf4HFQnO8fHWSjq7SKSMrSfEQ==;EndpointSuffix=core.windows.net" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>
