<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CosmosDbEndpoint" value="https://cdbgraph.documents.azure.com:443/" />
		<add key="CosmosDbMasterKey" value="wCOcfV0YYi882A56UTxNkmEc6yKXxQUKhZdFIYIKRbeOGbvWI5qw0ev0c319jEdwZi9pJ3ufRAfYQfYUi87QlQ==" />
		<add key="ComicBookDemoEndpoint" value="https://marvel-demo.documents.azure.com:443/" />
		<add key="ComicBookDemoMasterKey" value="e2XXvEQizCaea4VXYkdg9KPhfNUcgG0CxX3Ay83BSgo8BM5Abx5mFqTeeen7o6VH2lWpJWAbYCPw8DNt56mrNg==" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>